@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


*{
  font-family: "Plus Jakarta Sans", sans-serif;


}

.no-scrollbar::-webkit-scrollbar {
      display: none;
}